* {
    border: 1px solid red
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;

}


.input-btn {
    display: inline-block;
    height: 100px;
    width: 100px;
}


.clicked {
    background-color: mistyrose;
}

